* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url(../images/barbie.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  position: relative;
  font-family: 'Bebas Neue', sans-serif;

  font-size: 1.5rem;
  letter-spacing: 3px;
  word-spacing: 1.5px;
  font-weight: bolder;
  line-height: 40px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10%;
  border: 1px rgb(250, 207, 207, 0.8) solid;
  box-shadow: 0 0 15px rgba(249, 245, 249, 0.9);
  animation: border-glow 1s infinite alternate;
  border-radius: 7px;

}

header p {
  background: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  margin: 3px 20px 0px 20px;
  padding: 2%;
  line-height: 20px;
  font-family: 'Patua One', serif;
  font-weight: 400;
  font-style: normal;
  @media (min-width: 1024px) {
   margin-top: 2%;
   font-weight: 700;
   font-size: 2em;
   padding:1%
  }
}

@keyframes border-glow {
  from {
    box-shadow: 0 0 25px rgba(255, 254, 255, 0.9);
  }
  to {
    box-shadow: 0 0 45px rgb(254, 250, 254);
  }
}

/* .favorites-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  cursor: pointer;
} */

main {
  height: max-content;
  padding: 10px;
  /* width: 95vw; */
}

h1 {
  font-size: 30px;
  color: white;
  padding: 5px 20px;
  text-shadow: 0 0 5px rgb(203, 79, 205), 0 0 10px rgb(234, 136, 215),
    0 0 20px rgb(238, 41, 238), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgb(15, 20, 22), 0 0 90px rgb(76, 192, 235),
    0 0 100px rgb(10, 12, 13), 0 0 140px rgb(244, 157, 231),
    0 0 180px rgb(6, 7, 7);
  margin-top: 20px;
    @media (min-width: 1024px) {
    font-size: 8rem;
  margin-top: 4%;
  }
}

form {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0.8rem auto 0.8rem;
}

.inputBox {
  border: solid white 1px;
  height: 80%;
  padding: 10px;
  width: 60vw;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 20px;
  @media (min-width: 1024px){
    height:4rem;
    width: 30vw;
    border-radius: 30px;
  }
}

.btn {
  font-size: 0.8rem;
  background-color: white;
  border: none;
  padding: 5px;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  width: max-content;
  transform: translateX(-150%);
}

.btn:hover {
  background: rgb(220, 202, 209);
  color: rgb(98, 18, 18);
}

.loupe {
  width: 18px;
  @media (min-width: 1024px){
    width: 40px;;
  }
}
.bigContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  text-align: center;
  gap: 10px;
  align-items: stretch;
  justify-content: center;
  width: 97vw;
  color: white;
}
.mark h2 {
  font-size: large;
  padding: 5px;  
}
.minibox h2 {
  font-size: large;
  padding: 5px;
  @media (min-width: 1024px) {  font-size: 3rem;

  }

}

.minibox {  
  z-index: 10;
  background-color: rgb(246, 204, 246, 0.4);
  color: rgb(9, 8, 8, 0.9);
  font-family: 'Patua One', serif;
  font-weight: 600;
  overflow: hidden;
  text-overflow: clip;
 
  width: 120px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: inherit;

  gap: 10px;
  height: 200px;
  @media (min-width: 1024px) {
    width: 400px;
    height: 430px;
    font-size: 5em;
  }
}

.minibox:hover {
  background-color: rgba(247, 235, 235, 0.8);
  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 9px;

  overflow: visible;
  height: max-content;
  width: 160px;
  transform: scale(1.15);
  @media (min-width: 1024px) {
  width: 400px;
  height: 200px;
  margin:30px;
  gap:10px;

  }
}
.mark{
  font-family: 'Patua One', serif;
  font-weight: 600;
  overflow: hidden;
  text-overflow: clip; 
  background-color: rgb(0, 0, 0);
width: 120px;;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: inherit;
  padding: 20px;
  @media (min-width: 1024px) {
    width: 400px;
    margin:30px;
    gap:10px;}
}


.imgSrc {
  border: solid 1px black;
  width: 100px;
  height: 110px;
  @media (min-width: 1024px) {
    width: 300px;
    height: 330px;
  }
}

.favorites-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background: rgba(250, 250, 250, 0.91);
  box-shadow: 0 0 10px rgba(228, 183, 183);
  overflow-y: auto;
  padding: 20px;
  z-index: 1000;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.favorites-popup.show {
  justify-content: center;
  display: block;
  transform: translateX(-0%);
}
.show h2 {
  display: flex;
  margin: 10px;
  text-align: center;
  font-size: 2em;
}

.empty-message {
  text-align: center;
  font-size: 1.8em;
  font-style: unset;
  color: rgb(7, 7, 7, 0.8);
  margin-top: 20%;
  width: 80%;
  font-family: 'Gruppo', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.binAll {
  width: 1.6rem;
  height: 1.6rem;
}

.close-popup {
  position: absolute;
  top: 5px;
  left: 10px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: none;
  background-color: none;
}
.favContainer {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnBin {
  border: 4px solid black;
  padding: 5%;
  border-radius: 50%;
  display: none;
  background-color: rgb(241, 135, 198);
}

.favTitleList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: solid 1px black;
  width: 80%;

  font-family: 'Patua One', serif;
  font-weight: 600;
  font-style: oblique;
}
.fabList {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.imgFav {
  width: 100%;
  margin-top: 5px;
}

.favBox {
  position: relative;
  padding: 10px;

  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80%;
  height: max-content;
  background-color: rgb(238, 177, 207);
  box-shadow: 0 0 20px rgba(74, 60, 60, 0.5);
  color: rgb(11, 10, 10);
}
.favBox h2 {
  font-style: none;
  font-size: 3em;
}

.delete-btn {
  position: absolute;
  z-index: 100;
  top: -2px;
  right: -2px;
  margin: 4px;
  border: 2px solid rgb(249, 249, 249);
  background: rgb(9, 5, 5);
  border-radius: 50%;
  padding: 5px;
  font-size: 2rem;
  color: rgb(242, 234, 240);
  cursor: pointer;
}

.favBox .delete-btn:hover {
  color: rgb(240, 218, 218);
  background-color: rgb(255, 48, 48);
}
.favorites-icon {
  position: fixed;
  top: 140px;
  right: -9px;
  border: 2px solid rgb(255, 17, 57);
  border-radius: 50%;
  height: max-content;
  width: max-content;
  font-size: 2.5rem;
  padding: 0.1em;
  background-color: #f9d8f2;
  z-index: 200;
  animation: heartbeat 3s infinite; 
  @media (min-width: 1024px){
    font-size: 3rem;
    position: absolute;
    left: 2%;
    top:65%;
  }
}
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); 
  }
}
