* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  border-radius: 50px;
  color: white; /* Cambia el color del texto a rosa fluorescente */
  padding: 5px 20px;
  text-shadow: 0 0 5px rgb(203, 79, 205), 0 0 10px rgb(234, 136, 215),
    0 0 20px rgb(238, 41, 238), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgb(15, 20, 22), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgb(10, 12, 13), 0 0 140px rgb(244, 157, 231),
    0 0 180px rgb(6, 7, 7);
}

form {
  padding: 5px;
}

.inputBox {
  border-radius: 60px;
  border: solid hotpink;
  padding: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn {
  font-size: 0.7rem;
  border-radius: 50px;
  background-color: black;
  color: hotpink;
  padding: 5px;
  font-family: pacific;
  border: hotpink solid 2px;
  cursor: grab;
}
.btn:hover {
  background: white;
  color: black;
}

header {
  font-family: 'Pacifico', cursive;
  font-size: 0.7rem;
  letter-spacing: 3px;
  word-spacing: 2px;
  color: white;
  font-weight: bold;
  font-style: oblique;
  line-height: 20px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/barbie.png);
  background-size: cover;
  background-position: 20% 90%;
  background-repeat: no-repeat;
  text-align: center;
}

.container {
  height: max-content;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  text-align: center;
  gap: 10px;
  align-items: stretch;
  justify-content: center;
  width: 70vw;
  align-self: stretch;
  color:white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Estilos para las series en favoritos */
.mark,
.minibox {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: hotpink;
  color: rgba(94, 2, 51, 0.904);
  border: solid 5px rgb(242, 16, 136);
  border-radius: 20px;
  width: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.5rem;
  gap: 10px;
}

.minibox {
  background-color: pink;
  color: black;
}

.binBag {
  width: 30px;
  height: 30px;
}

.imgSrc {
  border: solid 3px black;
  width: 70px;
  height: 90px;
}

.bigContainer {
  background-color: black;
  gap: 20px;
  display: flex;
  width: 100vw;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start; /* Espacio entre los contenedores */
}
.titleFav{
  padding:10px;
  font-size: 0.8rem;}
.favContainer {
  gap: 10px;
  font-size: 0.8rem;
  border-radius: 30px;
  margin: 10px;
  padding:6px;
  width: 30vw;
  background-color: pink;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.favBox {
  font-size: 0.6rem;
  display: flex;
  flex-wrap: wrap;
 align-content: center;
  width: 5rem;
  gap: 8px;

  height: fit-content;
 
}

.imgFav {
  border: solid white 2px;
  width: 2rem;
}

.bin {
  height: 20px;
  width: 20px;
}

.msg {
  color: white;
}
